footer {
    position: relative;
    width: 100%;
    background: rgb(145, 145, 31);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer img {
    width: 100%;
    display: block;
}

#footer_items {
    margin-top: -10px;
}

#copyright {
    font-size: 14px;
}

#copyright a {
    color: white;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}

#github-link {
    cursor: pointer;
}
